---
import TimelineIsland from '../islands/TimelineIsland.tsx';
---

<section class="slide" id="slide-timeline" data-section="timeline">
  <div class="slide-inner slide-inner--flush timeline-full">
    <TimelineIsland client:only="react" />
  </div>
</section>

<style>
  .timeline-full {
    width: 100%;
    height: 100%;
  }
</style>
